/*------------------------------
 * Copyright 2014 Dogether
 * http://
 *
 * theme v0.0
------------------------------*/

/*------------------------------
http://www.azurekyle.com/rnm/redesign/css/style.css
------------------------------*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {
	font-family: "nanumgothic", Arial, sans-serif;
	background-color: #f2f2f2;
	color: #333333;
}
header.header-wrapper{
	background: #393E44;
	color:#ddd;
	margin-bottom: 15px;
}

header .navbar-wrapper{
	margin-bottom: 0px;
}

.login-form{
	padding:15px 15px 0px 15px;
}

#remember-me{
	float: left;
	margin-right:10px;
}
.string{
	color:#333;
}

footer.footer-wrapper{
	background: #393E44;
	color:#ddd;	
	margin-top: 15px;
}
.footer-bottom-wrapper{
	line-height: 40px
	border-top:1px solid #888;
}

/*------------------------------
	MAIN
------------------------------*/

table,td,th {
	border: none;
	border-collapse: collapse;
	padding: 5px;
}

body{
	height: 100%;
	background-color: #ffeaaa;	
}


footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align:center;
}

#tab1{
	height: 100%;
}

.scrollpoint {
	opacity:0;
}

.scrollpoint.active {
	opacity:1;
}

#card .media a.pull-left {
	border-radius: 50%;
	margin-right: 15px;	
}

#card .media .media-body {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 15px 20px;
	border-radius: 12px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

#card .media .media-body #hr{
	padding: 5px 0 0;
	border-top: 1px dashed rgba(0, 0, 0, 0.2);
	text-align: left;
	lind-height: 25px;
	font-size: 14px;
}

.media, .media-body {
	overflow: hidden;
	zoom: 1;
}

.want {
	width: 200px;
	text-align: right;
}

.grid-block {
display: block;
position: absolute;
width: 100%;
height: 100%;
z-index: 1001;
top: 0;
left: 0;
}

.contcustom {
    text-align: center;
    border-radius: 0.5rem;
    top: 50%;
    margin-top: -250px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px auto;
}

.modal-login-dialog-center {
	margin-top: 200px;
}

.modal-join-dialog-center {
	margin-top: 100px;
}

.modal-projectDetail-dialog-center {
	margin-top: 150px;
}

.modal-freelancerDetail-dialog-center {
	margin-top: 100px;
}

.modal-applicant-dialog-center {
	margin-top: 150px;
}

.modal input[type="text"],
.modal input[type="email"],
.modal input[type="password"] {
    width: 100%;
    height: 40px;
    margin-bottom: 17px;
    padding: 15px;
    background-color: #ECF4F4;
    border-radius: 2px; 
    border: none;
}


.memberCheck {
	color: #ababab;
}


.bigicon {
	font-size: 60px;
	color: #f1c784;
	font-align: center;
}

#login-font {
	font-size: 30px;
	color: #ababab;
	font-weight: bold;
}

#login-font2 {
	color: #ababab;
}

#join-font {
	font-size: 30px;
	color: #ababab;
	font-weight: bold;
}

#projectSubject-font {
	font-size: 25px;
}

.medhidden {
	font-size: 20px;
	color: #f1c784;
	padding: 10px;
	width: 100%;
	background-color: #ffffff;
}

.yellowborder{
	border: 2px solid #f1c784;
	border-radius: 2px;
	width: 100%;
}

.wide {
	width: 100%;
	background-color: #fff2ca;
	border: none;
}

.med {
	align: center;
	font-size: 27px;
	color: #f1c784;
}

.mypage_table {
	padding: 50px 50px 50px 50px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

.applicant_table {
	width: 100%;
}

.applicant_table th, 
.applicant_table td {
	border: 1px solid #f1c784;
}

.change_table {
}

.table_subject {
	text-align: center;
}

.freelancer_detail_table {
	width: 100%;
	text-align: left;
}

.freelancer_detail_table th, 
.freelancer_detail_table td {
	padding-left: 15px;
}


#mypage_td {
	padding: 30px 30px 20px 30px;
	text-align: center;
}

#mypage_text_td {
	text-align: center;
}

.mypage_icon { 
	font-size: 170px;
	color: #868686;
	vertical-align: bottom;
}

.side_icon {
	font-size: 14px;
}

div.mypage_font {
	font-size: 15px;
	color: #868686;
	font-weight: bold;
	text-align: center;
}

a.mypage_icon:hover{
	color: #616161;
	text-decoration: none;
}

#acField {
	width: 100%;
}

#infoField{
	width: 300px;
}

#portfolioField {
	width: 500px;
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    width: 0;
    height: 100%;
    overflow-y: auto;
    background: #ffeaaa;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: fixed;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a.subject {
	color: #333333;
	padding: 10px;
	background-color: #ffeaaa; 
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #333333;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}



#accordian {
	background: transparent;
	width: 250px;
	margin-top: 90px;
	color: #333333;
}

/* 메뉴 스타일 */
#accordian h3 {
	font-size: 12px;
	line-height: 34px;
	padding: 0 10px;
	cursor: pointer;
}
#accordian h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

#accordian li {
	list-style-type: none;
}

/* 서브메뉴 스타일 */
#accordian ul ul li a {
	color: #6d6d6d;
	text-decoration: none;
	font-size: 12px;
	line-height: 27px;
	display: block;
	padding: 0 15px;
	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	-o-transition: all 0.15s;
	-ms-transition: all 0.15s;
	transition: all 0.15s;
}

#accordian ul ul li a:hover {
	background: #ffeaaa;
	border-left: 5px solid #f1c784;
}

#accordian ul li a:hover {
	background: #ffeaaa;
	border-left: 5px solid #ffeaaa;
}

/* active 클래스 외에 것은 보이지 않게 하기 */
#accordian ul ul {
	display: none;
}
#accordian li.active ul {
	display: block;
}

.searchInput {
	background-color: #fff3d0;
	border: none;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	height: 25px;
}

select.basic {
	width: 100%;
	height: 40px;
	background-color: #ecf4f4;
	color: #999999;
	border: none;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

select.project {
	width: 100%;
	height: 34px;
	background-color: #ecf4f4;
	color: #999999;
}

select.order {
	width: 90px;
	height: 25px;
	background-color: #fff3d0;
	color: #333333;
	border: none;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.searchButton {
	width: 40px;
	height: 25px;
	background-color: #ffeaaa;
	border: none;
}

.freelancerTab {
	border: 1px;
}

a.selecting:hover{
	background-color: #e7e7e7;
	border-bottom-color: #e7e7e7;
}

/*장바구니 체크박스*/
input[type="checkbox"].basket {
    display: none;
}
input[type="checkbox"].basket + label {
    display: inline;
    position: relative;
    background-color: #b94a48;
    
    /*label styling*/
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
input[type="checkbox"].basket:checked + label {
    background-color: #468847;
}

input[type="checkbox"].basket:disabled + label {
    opacity: 0.5;
}

span.span-center {
	text-align: center;
}

#langTable {
	width: 100%;
}



/*for main*/


section {
    padding: 10px 0;
    margin :0;
}

section.dogether {
    color: #fff;
    background: #ffeaaa;
}

section.dogether2 {
    color: #fff;
    background: #ffdf7d;
}

section.dogether2.container{
    color: #fff;
    background: #18bc9c;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 40px;
    }
}

section h2 {
   display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 4.75em;
    font-weight: 700;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

section .skills {
   font-size: 2em;
   font-weight: 300;
   margin-left : 400px;
}



.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*상단메뉴 hover*/

div ul li.dropdown a.dropdown-toggle {
	background-color: #ffd75b;
	border-radius: 5px;
	color: #ffffff;
	margin: 0px 5px 5px 5px;
}

div ul li.active a.topMenu:hover {
	background-color:#fec503;
	margin: 0px 5px 5px 5px;
	color: #ffffff;
	border-radius: 5px;
}

div ul li.dropdown a.dropdown-toggle:hover,
div ul li.dropdown a.dropdown-toggle:focus {
	background-color:#fec503;
	margin: 0px 5px 5px 5px;
	color: #ffffff;
	border-radius: 5px;
}

.navbar-nav > li > a {
	color: #ffffff;
}

.projectTable {
	align: center;
	width: 100%;
}


/*Sidebar Menu
------------------------------------*/
/*Sidebar Menu v1*/
.sidebar-nav-v1 li {
  padding: 0;
}

.sidebar-nav-v1 li a {
  display: block;
  padding: 8px 30px 8px 10px;
}

.sidebar-nav-v1 li a:hover {
  text-decoration: none;
}

/*Sidebar Sub Navigation*/
.sidebar-nav-v1 li ul {
  padding: 0;
  list-style: none;
}

.sidebar-nav-v1 li ul,
.sidebar-nav-v1 li.active ul a {
  background: transparent;
}

.sidebar-nav-v1 li ul a {
  color: #585f69;
  font-size: 12px;
  padding: 6px 30px 6px 17px; 
}

.sidebar-nav-v1 ul li:hover a,
.sidebar-nav-v1 ul li.active a {
  color: #72c02c;
}

/*Sidebar Badges*/
.list-group-item li > .badge {
  float: right;
}

.sidebar-nav-v1 span.badge {
  margin-top: 8px;
  margin-right: 10px;
}

.sidebar-nav-v1 .list-toggle > span.badge {
  margin-right: 25px;
}

.sidebar-nav-v1 ul li span.badge {
  margin-top: 8px;
  font-size: 11px;
  padding: 3px 5px; 
  margin-right: 10px;
}

/*Sidebar List Toggle*//* 
.list-toggle:after {
    top: 7px;
    right: 10px;
    color: #777;
    font-size: 14px;
    content: "\f105";
    position: absolute;
    font-weight: normal;
    display: inline-block;
    font-family: FontAwesome;
}

.list-toggle.active:after {
  color: #fff;
  content: "\f107"; 
} */

.collapse.in{
	display: block;
}

.content {
	padding-top: 40px;
	padding-bottom: 40px;
}


/*이력서 관리 폼*/


table#careerTable,
table#certificationTable,
table#languageTable,
table#toolTable,
table#selfIntroTable {
	width: 95%;/* 
	border: solid gray 1px; */
	margin-left: auto;
	margin-right: auto;
}

table#title {
	width: 95%;/* 
	border: solid gray 1px; */
	margin-left: auto;
	margin-right: auto;
}

table#portfolioTitle {
	width: 80%;/* 
	border: solid gray 1px; */
	margin-left: auto;
	margin-right: auto;
}

table#freelancerDetailTitle {
	width: 95%;/* 
	border: solid gray 1px; */
	margin-left: auto;
	margin-right: auto;
}

table#freelancerDetailTitle th {
	text-align: left;
	padding: 3px;
	background: transparent;
	font-size: 18px;
	font-weight: bold;
}

table#title th,
table#title td {/* 
	border: 1px gray solid; */
	text-align: left;
	padding: 3px;
	background: #dddddd;
}

table#portfolioTitle th {/* 
	border: 1px gray solid; */
	text-align: left;
	padding: 3px;
	background: #dddddd;
}

table#title td {/* 
	border: 1px gray solid; */
	text-align: left;
	padding: 3px;
	background: #dddddd;
}

table#inputTable {
	width: 95%;/* 
	border: solid gray 1px; */
	margin-left: auto;
	margin-right: auto;
}

table#portfolioInputTable {
	width: 80%;/* 
	border: solid gray 1px; */
	margin-left: auto;
	margin-right: auto;
}

table#portfolioTable {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

table#portfolioTable th {
	width: 20%;
	border: solid #ffeaaa 3px;
	text-align: center;
	background-color: #ffda6a;
	padding: 5px;
}


table#portfolioTable td {
	text-align: left;
	border: solid #ffeaaa 3px;
	background-color: transparent;
	padding: 5px;
}

table#careerTable th,
table#certificationTable th,
table#languageTable th,
table#toolTable th,
table#selfIntroTable th,
table#inputTable th {
	text-align: center;
	padding: 3px;
}

table#careerTable td,
table#certificationTable td, 
table#languageTable td,
table#toolTable td,
table#selfIntroTable td,
table#inputTable td {
	border: none;
	text-align: center;
	padding: 3px;
}

table#inputTable input[type="text"],
table#inputTable textarea{
     width: 100%; 
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}

.addBtn {
	width: 100%;
	background-color: #ffeaaa;
	border: 1px #a9a9a9 solid;
	color: #7f7f7f;
}

.searchTabBtn {
	width: 90px;
	background-color: #fff3d0;
	color: #000000;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	border: none;
	height: 25px;
}

#searchTabBtn {
	align: right;
}

.introTable {
	border: none;
}

.introTable th {
	text-align: center;
	background-color: #fcd272;
	border-radius: 13px;
}

.introTable td {
}